{{ define "main" }}
<section class="blog-list">
  <h1>{{ .Title }}</h1>
  {{ $groups := .Pages.GroupByDate "January 2006" }}
  {{ range $i, $group := $groups }}
  <details class="month-group"{{ if eq $i 0 }} open{{ end }}>
    <summary class="month-heading">{{ .Key }}</summary>
    <ul class="post-list">
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">
          <span class="post-title">{{ .Title }}</span>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan" }}</time>
        </a>
        {{ if .Description }}<p class="post-desc">{{ .Description }}</p>{{ end }}
      </li>
      {{ end }}
    </ul>
  </details>
  {{ end }}
</section>
{{ end }}
